.overflow_all
  &_hidden
    overflow: hidden
  &_scroll
    overflow: scroll
  &_hidden
    overflow: hidden
  &_initial
    overflow: initial
  &_overlay
    overflow: overlay
  &_auto
    overflow: auto
  &_visible
    overflow: visible
  &_inherit
    overflow: inherit