.col_aux
  max-width: 600px
  width: 0

  @media (min-width: 1180px)
    width: calc(100% - 80px - 720px)
    min-width: 300px

  @media (min-width: 1480px)
    width: 600px

  @media (min-width: 1521px)
    width: calc(100% - 240px - 720px)
    min-width: 300px

  @media (min-width: 1641px)
    width: 600px