.overflow_y
  &_hidden
    overflow-y: hidden
  &_scroll
    overflow-y: scroll
  &_hidden
    overflow-y: hidden
  &_initial
    overflow-y: initial
  &_overlay
    overflow-y: overlay
  &_auto
    overflow-y: auto
  &_visible
    overflow-y: visible
  &_inherit
    overflow-y: inherit