.col_content
  min-width: 720px
  width: calc(100% - 80px)

  @media (min-width: 1180px)
    width: 720px

  @media (min-width: 1480px)
    width: calc(100% - 80px - 600px)

  @media (min-width: 1521px)
    width: calc(100% - 240px - 600px)

  @media (max-width: 1179px)
    border-right: none