.list_type-style_custom-circle
  font-size: 0
  .list__item
    margin-bottom: 25px
  .list__content
    display: inline-block
    vertical-align: middle
    max-width: calc(100% - 98px)
    font-size: $fs-base
    @media (max-width: $screen-xs-max)
      max-width: calc(100% - 63px)
      vertical-align: top
      font-family: $ff-light
      font-size: $fs-small