.overflow_x
  &_hidden
    overflow-x: hidden
  &_scroll
    overflow-x: scroll
  &_hidden
    overflow-x: hidden
  &_initial
    overflow-x: initial
  &_overlay
    overflow-x: overlay
  &_auto
    overflow-x: auto
  &_visible
    overflow-x: visible
  &_inherit
    overflow-x: inherit